#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul.votes {
  list-style: none;
}

.votes li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}
